<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}} 

            <p>This site helps you get Weather of any area using your location.</p>
            <p>It is created by Amarjhyot Ajmani. Here is a little glimpse of him.</p>

            <img class="portrait" src="/img/me.JPG">
        </div>
        
        {{>footer}}
    </body>

</html>